@page "/reporte-vehiculos"
@using Models
@using Proyecto_final.Services
@using System.Threading.Tasks
@inject ICargarArchivo cargarArchivo
@inject NavigationManager NavigationManager



<div class="container" id="carta">
    @if (lista_vehiculos != null)
    {
        @foreach (var ve in lista_vehiculos)
        {
            <div class="card" style="width: 20rem; height: 30rem;">
                <img src="./imagenes/@ve.Foto" class="card-img-top">
                <div class="card-body">


                    <label><strong>Marca: </strong>@ve.Marca</label><hr>
                    <label><strong>Modelo: </strong>@ve.Modelo</label><hr>
                    <label><strong>Año: </strong>@ve.Anio</label><hr>
                    <label><strong>Color: </strong>@ve.Color</label><hr>

                    <label><strong>Tipo: </strong>@ve.Tipo</label><hr>
                </div>
            </div>
        }
    }
</div>

@code{
    List<Vehiculos> lista_vehiculos = new List<Vehiculos>();

    public List<Vehiculos> GetVehiculos() => new db_a72daa_proyecContext().Vehiculos.ToList();

    protected override void OnInitialized()
    {
        lista_vehiculos = GetVehiculos();
    }
}